doctype html
html(lang='en')
  head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  meta(name='description', content='')
  meta(property='og:image', content='')
  meta(name='theme-color', content='#000')
  link(rel="shortcut icon", href="assets/img/favicon/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='assets/css/main.css')

  block title
    title Main page

  body
    .wrapper

      include ../header

      main

        block content

      include ../footer
  
  script(src="assets/js/scripts.min.js")